@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

        :root {
            --primary: #08aeea;
            --secondary: #13D2B8;
            --purple: #bd93f9;
            --pink: #ff6bcb;
            --blue: #8be9fd;
            --gray: #333;
            --font: "Poppins", sans-serif;
            --gradient: linear-gradient(40deg, #ff6ec4, #7873f5);
            --shadow: 0 0 15px 0 rgba(0, 0, 0, 0.05);
        }

        *,
        *:before,
        *:after {
            box-sizing: border-box;
        }

        html {
            font-size: 62.5%;
        }

        body {
            font-family: var(--font);
            font-size: 1.4rem;
            overflow-x: hidden;
            font-weight: 300;
        }

        img {
            display: block;
            max-width: 100%;
        }

        a {
            text-decoration: none;
        }

        input,
        button,
        textarea,
        select {
            font-family: var(--font);
            font-size: 1.4rem;
            font-weight: 300;
            outline: none;
            border: 0;
            margin: 0;
            padding: 0;
            border-radius: 0;
            -webkit-appearance: none;
        }

        button {
            cursor: pointer;
        }

        .simple-card {
            background-color: white;
            border-radius: 2rem;
            padding: 1.5rem;
            box-shadow: var(--shadow);
        }

        .simple-card-image {
            position: relative;
            height: 0;
            padding-bottom: 56.25%;
        }

        .simple-card-image>img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 1rem;
        }

        .simple-card-content {
            padding: 3rem 1rem;
        }

        .simple-card-title {
            font-weight: 500;
            font-size: 2rem;
            line-height: 1.6;
            margin-bottom: 1.5rem;
            color: #2b2b2b;
        }

        .simple-card-desc {
            color: #c7cbdc;
            font-weight: 300;
            line-height: 1.6;
            font-size: 1.4rem;
            margin-bottom: 3rem;
        }

        .simple-card-line {
            width: 30%;
            height: 2px;
            margin-left: auto;
            background-color: var(--primary);
        }

        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');
  :root {
    --primary: #08aeea;
    --secondary: #13D2B8;
    --purple: #bd93f9;
    --pink: #ff6bcb;
    --blue: #8be9fd;
    --gray: #333;
    --font: "Poppins", sans-serif;
    --gradient: linear-gradient(40deg, #ff6ec4, #7873f5);
    --shadow: 0 0 15px 0 rgba(0,0,0,0.05);
  }
  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }
  html {
    font-size: 62.5%;
  }

  body {
    font-family: var(--font);
    font-size: 1.4rem;
    overflow-x: hidden;
    font-weight: 300;
  }

  img {
    display: block;
    max-width: 100%;
  }

  a {
    text-decoration: none;
  }

  input,
  button,
  textarea,
  select {
    font-family: var(--font);
    font-size: 1.4rem;
    font-weight: 300;
    outline: none;
    border: 0;
    margin: 0;
    padding: 0;
    border-radius: 0;
    -webkit-appearance: none;
  }

  button {
    cursor: pointer;
  }
  
          .menu {
            display: flex;
          }
          .menu-link {
            font-size: 1.4rem;
            color: #918eae;
            display: block;
          }
          .menu-link:hover {
            color: #202842;
          }
          .menu-item {
            position: relative;
          }

          .menu-child-link {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 1.5rem;
            color: #918eae;
          }
          .menu-child-item {
            position: relative;
          }
          .menu-child-link:hover {
            color: #202842;
          }

          .menu-toggle {
            display: none;
          }
          .nav {
            position: relative;
          }
          .arrow-right {
            display: none;
          }
          @media screen and (min-width: 1024px) {
            .arrow-down {
              display: none;
            }
            .arrow-right {
              display: block;
            }
            .menu-item:not(:first-child) {
              margin-left: 2rem;
            }
            .menu-child {
              position: absolute;
              top: 100%;
              left: 0;
              margin-top: 1rem;
              min-width: 20rem;
              background-color: white;
              box-shadow: var(--shadow);
              display: none;
            }
            .menu-child:before {
              content: "";
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 1rem;
              background-color: transparent;
              transform: translateY(-100%);
            }
            .menu-child1 {
              top: 0;
              left: 100%;
              margin-top: 0;
            }
            .menu-item.has-child:hover > .menu-child {
              display: block;
            }
            .menu-child-item.has-child:hover > .menu-child {
              display: block;
            }
          }
          @media screen and (max-width: 1023px) {
            .menu {
              position: absolute;
              right: 0;
              top: 100%;
              min-width: 20rem;
              background-color: white;
              box-shadow: var(--shadow);
              flex-direction: column;
              display: none;
              z-index: 100;
            }
            .menu.show,
            .menu-child.show {
              display: block;
            }
            .menu-item:not(:last-child) {
              border-bottom: 1px solid #eee;
            }
            .menu-link {
              padding: 1.5rem;
              display: flex;
              justify-content: space-between;
              align-items: center;
            }
            .menu-child {
              display: none;
              background-color: #f6f6f6;
            }
            .menu-child1 {
              background-color: #eee;
            }
            .menu-toggle {
              width: max-content;
              font-size: 2rem;
              display: block;
              margin-left: auto;
              cursor: pointer;
            }
          }


/* custom css */

        /*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #333;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: .05rem solid #fff;
}


/*
 * Base structure
 */

html,
body {
  height: auto;
  background-color: #333;

}

body {
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
}

.cover-container {
  max-width: 70em;
}


/*
 * Header
 */
.masthead {
  margin-bottom: 2rem;
}

.masthead-brand {
  margin-bottom: 0;
}

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, .5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
}


/*
 * Cover
 */
.cover {
  padding: 0 1.5rem;
}
.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}

/*
 * Footer
 */
.mastfoot {
  color: #fff;
}
.mt-6 {
  margin-top: 4rem !important;
}