<header class="masthead mb-auto">
    <div class="inner">
<<<<<<< HEAD
        <h3 class="masthead-brand"><a href="http://havanlinh.tech/" style="color:azure">HVL</a>
        </h3>
        <nav class="nav nav-masthead justify-content-center">
            <a class="nav-link" href="http://havanlinh.tech/">Home</a>
            <a class="nav-link active" href="#">Features</a>
            <!-- <a class="nav-link" href="#">Features</a>
            <a class="nav-link" href="#">Contact</a> -->
=======
        <h3 class="masthead-brand">HVL</h3>
        <nav class="nav nav-masthead justify-content-center">
            <a class="nav-link active" href="http://havanlinh.tech/">Home</a>
            <a class="nav-link" href="#">Features</a>
            <a class="nav-link" href="#">Contact</a>
>>>>>>> 20867eaa43e4cff75385aa59e336516d6c7a1231
        </nav>
    </div>
</header>