<header class="masthead mb-auto">
    <div class="inner">
        <h3 class="masthead-brand"><a href="http://havanlinh.tech/" style="color:azure">HVL</a>
        </h3>
        <nav class="nav nav-masthead justify-content-center">
            <a class="nav-link" href="http://havanlinh.tech/">Home</a>
            <a class="nav-link active" href="#">Features</a>
            <!-- <a class="nav-link" href="#">Features</a>
            <a class="nav-link" href="#">Contact</a> -->
        </nav>
    </div>
</header>